.animate-text-color {
  animation-name: changing-color;
  animation-duration: 1s;

  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* Animasjons sekvensen */
@keyframes changing-color {
  from {
    color: coral;
  }

  to {
    color: cornflowerblue;
  }
}

.box {
  background-color: gray;
  height: 400px;
}

.ball  {
  background-color: cornflowerblue;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;

  animation-name: bouncing-ball;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes bouncing-ball {
  0% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(350px);
    height: 50px;
    width: 50px;
  }

  100% {
    transform: translateY(360px);
    height: 40px;
    width: 60px;
  }
}

.slide-in-from-left {
  animation-name: slide-in-from-left;
  animation-duration: 500ms;
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0px);
  }
}